<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 15px; height: 80px">


# Web Scraping for Indeed.com and Predicting Salaries

In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from tqdm import tqdm

# Web scraping test

In [27]:
#setting URL and using beautiful soup to parse scraped text
url = "https://www.indeed.co.uk/jobs?q=Data+Scientist&l=London&radius=0"

r=requests.get(url)
r.text[:1000]
soup = BeautifulSoup(r.text, 'html.parser')

In [28]:
#example of first job
test=soup.find_all('div', class_ = 'result')
print(test[0].prettify())

<div class="jobsearch-SerpJobCard unifiedRow row result" data-ci="363252621" data-empn="5940578736440115" data-jk="c4733c6580c56872" id="pj_c4733c6580c56872">
 <style>
  .jobcard_logo{margin:6px 0}.jobcard_logo img{width:auto;max-width:80px;max-height:30px}.jasxrefreshcombotst .jobcard_logo img{max-height:2rem;max-width:100%}
 </style>
 <h2 class="title">
  <a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0ARyhN0hxCsk44jc7iGPq5C3PdshFfDMnYbN1CoUR1yamM7iHaFLyF9J5ymqkdHAZUmLF7aP5cm4nrptxZ8BwA-AVQQFT-REZFy6SRMz9ZsoY5pfhP2nx_lSGBJigqiDDEdHmdevhWCN7SCiWLH-0n88avIG7_VJ2ES13C9dFW5Z3DZbS-ngHdlxNxzZ0faVlO5OxrlncGiW3uWEHrRivDR3akxzuD8xw6xwzq_SSWM6sUSGt7FQZRvvxZfDuDZRSjKQPBdJC9i9t6lro5vTNKe4lKjSR9uHd08qfxm6cvkpIYuSp9Jtfkk45bpYc7SgzYBE4Kasb_R7X0mb9yj28k3NGBSVP9JutzOOzzJ_X3p1tg6zfJgw-UXO-lSx0jEiFmzsl5lBzUj6T01cFB0oUyhZDlGTy0vTK9QQ448ZGTDwR5iUVoarWy53qCigDPJNEilhdWNZj9sJubI3TQhb4Mc8aikEvuVw-w=&amp;p=0&amp;fvj=1&amp;vjs=3" id="sja0" onclick="setRefineByCookie(['radius']); sjoc('sja0', 1); convCtr('SJ'); rclk(this,jobmap[0],true,1);" onmousedown="sjomd('sja0'); clk('sja0'); rclk(this,jobmap[0],1);" rel="noopener nofollow" target="_blank" title="Data Scientist - Machine Learning">
   <b>
    Data
   </b>
   <b>
    Scientist
   </b>
   - Machine Learning
  </a>
 </h2>
 <div class="sjcl">
  <div>
   <span class="company">
    Cabot Financial
   </span>
  </div>
  <div class="recJobLoc" data-rc-loc="London" id="recJobLoc_c4733c6580c56872" style="display: none">
  </div>
  <div class="location accessible-contrast-color-location">
   London
  </div>
  <span class="remote-bullet">
   •
  </span>
  <span class="remote">
   Temporarily remote
  </span>
 </div>
 <div class="salarySnippet salarySnippetDemphasizeholisticSalary">
  <span class="salary no-wrap">
   <span class="salaryText">
    £40,000 - £57,000 a year
   </span>
  </span>
 </div>
 <table class="jobCardShelfContainer" role="presentation">
  <tr class="jobCardShelf">
   <td class="jobCardShelfItem indeedApply">
    <span class="jobCardShelfIcon">
    </span>
    <span class="iaLabel iaIconActive">
     Easily apply to this job
    </span>
   </td>
  </tr>
 </table>
 <div class="summary">
  <ul style="list-style-type:circle;margin-top: 0px;margin-bottom: 0px;padding-left:20px;">
   <li>
    Become a subject matter expert on understanding where our
    <b>
     data
    </b>
    comes from, how its captured or created, covering customer personal
    <b>
     data
    </b>
    , credit bureau data,…
   </li>
  </ul>
 </div>
 <div class="jobsearch-SerpJobCard-footer">
  <div class="jobsearch-SerpJobCard-footerActions">
   <div class="result-link-bar-container">
    <div class="result-link-bar">
     <span class="date date-a11y">
      13 days ago
     </span>
     <div class="tt_set" id="tt_set_0">
      <div class="job-reaction">
       <button aria-expanded="false" aria-haspopup="true" aria-label="save or dislike" class="job-reaction-kebab" data-ol-has-click-handler="" onclick="toggleKebabMenu('c4733c6580c56872', true, event); return false;" tabindex="0">
       </button>
       <span class="job-reaction-kebab-menu">
        <button class="job-reaction-kebab-item job-reaction-save" data-ol-has-click-handler="" onclick="changeJobState('c4733c6580c56872', 'save', 'linkbar', true, '');return false;">
         <svg fill="none" focusable="false" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="M10.5766 6.99526C10.0636 6.48227 9.57017 5.99808 9.01069 5.62604C8.46832 5.26538 7.97822 5.09021 7.5 5.09021C6.79435 5.09021 5.98045 5.27268 5.34087 5.72415C4.78259 6.11822 4.20245 6.82046 4.00092 8.2167C4.02709 10.0041 4.61435 11.2599 5.97077 12.7896C6.98048 13.9283 8.27849 15.0775 9.97941 16.5833C10.5978 17.1308 11.2695 17.7255 12 18.3839C12.7305 17.7255 13.4022 17.1308 14.0206 16.5833C15.7215 15.0775 17.0195 13.9283 18.0292 12.7896C19.3856 11.2599 19.9729 10.0041 19.9991 8.2167C19.7976 6.82046 19.2174 6.11822 18.6591 5.72415C18.0196 5.27268 17.2056 5.09021 16.5 5.09021C16.0218 5.09021 15.5317 5.26538 14.9893 5.62604C14.4298 5.99808 13.9364 6.48227 13.4234 6.99526L12 8.41864L10.5766 6.99526ZM22 8.09021C22 12.1883 19.6488 14.2711 15.2216 18.1928C14.3422 18.9718 13.3808 19.8234 12.3397 20.7777C12.1476 20.9539 11.8524 20.9539 11.6603 20.7777C10.6192 19.8234 9.65782 18.9718 8.77838 18.1928C4.35123 14.2711 2 12.1883 2 8.09021C2.5 4.09021 5.5 3.09021 7.5 3.09021C9.47994 3.09021 10.9699 4.56026 11.9698 5.55996C11.9768 5.56701 11.9838 5.57404 11.9908 5.58104L12 5.59021L12.0092 5.58104C12.0162 5.57404 12.0232 5.56701 12.0302 5.55996C13.0301 4.56026 14.5201 3.09021 16.5 3.09021C18.5 3.09021 21.5 4.09021 22 8.09021Z" fill="#2d2d2d" fill-rule="evenodd">
          </path>
         </svg>
         <span class="job-reaction-kebab-item-text">
          Save job
         </span>
        </button>
        <button class="job-reaction-kebab-item job-reaction-dislike" data-ol-has-click-handler="" onclick="dislikeJob(false, false, 'c4733c6580c56872', 'unsave', 'linkbar', true, '');">
         <span class="job-reaction-dislike-icon">
         </span>
         <span class="job-reaction-kebab-item-text">
          Not interested
         </span>
        </button>
        <button class="job-reaction-kebab-item job-reaction-report" onclick="reportJob('c4733c6580c56872');">
         <span class="job-reaction-report-icon">
         </span>
         <span class="job-reaction-kebab-item-text">
          Report job
         </span>
        </button>
       </span>
      </div>
      <span class="result-link-bar-separator">
       ·
      </span>
      <a class="sl resultLink save-job-link" href="#" id="sj_c4733c6580c56872" onclick="changeJobState('c4733c6580c56872', 'save', 'linkbar', true, ''); return false;" title="Save this job to my.indeed">
       Save job
      </a>
     </div>
     <script>
      if (!window['sj_result_c4733c6580c56872']) {window['sj_result_c4733c6580c56872'] = {};}window['sj_result_c4733c6580c56872']['showSource'] = false; window['sj_result_c4733c6580c56872']['source'] = "Indeed"; window['sj_result_c4733c6580c56872']['loggedIn'] = false; window['sj_result_c4733c6580c56872']['showMyJobsLinks'] = false;window['sj_result_c4733c6580c56872']['baseMyJobsUrl'] = "https://myjobs.indeed.com";window['sj_result_c4733c6580c56872']['undoAction'] = "unsave";window['sj_result_c4733c6580c56872']['relativeJobAge'] = "13 days ago";window['sj_result_c4733c6580c56872']['jobKey'] = "c4733c6580c56872"; window['sj_result_c4733c6580c56872']['myIndeedAvailable'] = true; window['sj_result_c4733c6580c56872']['showMoreActionsLink'] = window['sj_result_c4733c6580c56872']['showMoreActionsLink'] || false; window['sj_result_c4733c6580c56872']['resultNumber'] = 0; window['sj_result_c4733c6580c56872']['jobStateChangedToSaved'] = false; window['sj_result_c4733c6580c56872']['searchState'] = "q=Data Scientist&amp;l=London&amp;radius=0"; window['sj_result_c4733c6580c56872']['basicPermaLink'] = "https://uk.indeed.com"; window['sj_result_c4733c6580c56872']['saveJobFailed'] = false; window['sj_result_c4733c6580c56872']['removeJobFailed'] = false; window['sj_result_c4733c6580c56872']['requestPending'] = false; window['sj_result_c4733c6580c56872']['currentPage'] = "serp"; window['sj_result_c4733c6580c56872']['sponsored'] = true;window['sj_result_c4733c6580c56872']['reportJobButtonEnabled'] = false; window['sj_result_c4733c6580c56872']['showMyJobsHired'] = false; window['sj_result_c4733c6580c56872']['showSaveForSponsored'] = true; window['sj_result_c4733c6580c56872']['showJobAge'] = true; window['sj_result_c4733c6580c56872']['showHolisticCard'] = true; window['sj_result_c4733c6580c56872']['showDislike'] = true; window['sj_result_c4733c6580c56872']['showKebab'] = true; window['sj_result_c4733c6580c56872']['showReport'] = true;
     </script>
    </div>
   </div>
  </div>
 </div>
 <div class="tab-container">
  <div class="sign-in-container result-tab">
  </div>
  <div class="tellafriend-container result-tab email_job_content">
  </div>
 </div>
</div>

### Defining functions to extract location, company, salary and job title

In [11]:
## LOCATION FUNCTION

def extract_location_from_result(job):
        try:
            return job.find('span', attrs={'class' : 'location'}).text.strip()
        except:
            try:
                return job.find('div', attrs={'class' : 'location'}).text.strip()
            except:
                return np.nan

In [12]:
## COMPANY FUNCTION

def extract_company_from_result(job):
        try:
            return job.find('span', attrs={'class' : 'company'}).text.strip()
        except:
            return np.nan

In [13]:
## SALARY FUNCTION

def extract_salary_from_result(job):
        try:
            return job.find('span', attrs={'class' : 'salaryText'}).text.strip()
        except:
            return np.nan

In [14]:
## JOB FUNCTION

def extract_title_from_result(job):
        try:
            return job.find('h2', attrs={'class' : 'title'}).text.strip()
        except:
            return np.nan

### Testing functions on test result

In [21]:
title_non=[]
company_non=[]
location_non=[]
salary_non=[]

for i in test:
            title_non.append(extract_title_from_result(i))
            company_non.append(extract_company_from_result(i))
            location_non.append(extract_location_from_result(i))
            salary_non.append(extract_salary_from_result(i))
            
            
df = pd.DataFrame({'company': company_non,
                   'location': location_non,
                   'title': title_non,
                   'salary': salary_non})

df

,company,location,title,salary
0,Funding Circle UK,London EC4V,Data Scientist - Customer Analytics,NaN
1,Paddy Power Betfair,London,Data Scientist\nnew,NaN
2,Funding Circle UK,London EC4V,Data Scientist,NaN
3,Intelligent Data Technologies Limited (Lucid),London,Neo4j / Tiger Graph Data Scientist,"£35,000 - £55,000 a year"
4,Hastings Direct,London,Junior Data Scientist\nnew,NaN
5,G-Research,London,Data Scientist,NaN
6,Novafutur,London,Junior Data Scientist,NaN
7,"JPMorgan Chase Bank, N.A.",London,Applied Data Scientist - Athena Applied Intell...,NaN
8,EDF Energy Limited,London,Data Scientist\nnew,NaN
9,UK Government - Government Actuary's Department,London EC4A 1AB,Lead Data Scientist,"£56,480 - £80,764 a year"
10,Argus Media,London WC1X 8NL,Data Scientist – AI/ML Quant,NaN
11,Facebook,London,"Research Scientist, Core Data Science\nnew",NaN
12,Deliveroo,London,Data Scientist,NaN
13,Ipsos,London,Audience Measurement - Junior Data Scientist,NaN
14,Cabot Financial,London,Data Scientist - Machine Learning,"£40,000 - £57,000 a year"
15,Michael Page UK,London,Data Scientist - Insurance / warranty provider...,"£40,000 - £50,000 a year"
16,Avanade,London,Senior Data Scientist,NaN
17,Metrica Recruitment,London,Data Scientist,"£70,000 - £80,000 a year"
18,Avanade,London,"VelocITy Data & AI Graduate Programme, UK",NaN

In [29]:
#Applying the above to larger scale.
#Set search terms, number of jobs to search per city, list of cities.

import time, random

url_template_non = "https://www.indeed.co.uk/jobs?q=%28Data+or+Scientist+or+Data+or+Analyst+or+Machine+or+Learning%29&l={}&limit=50&radius=25&start={}"
max_results_per_city = 50

cities_non = ['Birmingham', 'Sheffield', 'Manchester', 'Cambridge', 'Oxford', 'Reading', 
          'Bath', 'Liverpool', 'Leeds', 'Edinburgh', 'Glasgow', 'Cardiff', 'Nottingham', 'Newcastle']

job_cards_non = []
company_non=[]
location_non=[]
salary_non=[]
title_non=[]
search_city_non=[]

for city in cities_non:
    for start in range(0, max_results_per_city, 10):
            try:
                r=requests.get(url_template_non.format(city, start)) #extract job card and then each variable
            except:
                print('page not found')
            
            search_city_non.append(city)
            
            url_soup = BeautifulSoup(r.text, 'html.parser')
            
            cards = url_soup.find_all('div', attrs={'class' : 'jobsearch-SerpJobCard'})
            
            job_cards_non.append(cards) #is a list of lists.

            time.sleep(random.randint(3, 6))


for job in job_cards_non:
    for i in job:
            title_non.append(extract_title_from_result(i))
            company_non.append(extract_company_from_result(i))
            location_non.append(extract_location_from_result(i))
            salary_non.append(extract_salary_from_result(i))

In [31]:
df2 = pd.DataFrame({'company': company_non,
                   'location': location_non,
                   'title': title_non,
                   'salary': salary_non})

df2

,company,location,title,salary
0,Serco Plc,Birmingham,Data Analyst\nnew,"£40,000 a year"
1,H&M,Birmingham,Full Time Sales Advisor - Birmingham Newstreet...,NaN
2,BT,Birmingham,Data Scientist,NaN
3,Skillcert,Birmingham,Trainee E-sport/ Gaming Operations Assistant\nnew,NaN
4,Public Health England,Birmingham,919-GC-17950615-EXT Public Health Intelligence...,"£28,588 - £35,612 a year"
...,...,...,...,...
711,DXC Technology,Newcastle upon Tyne,Mainframe Analyst,NaN
712,Just Eat,North East,Planning Analyst - Just Eat Takeaway.com\nnew,"£34,000 a year"
713,Mediaworks,Gateshead,Data Analyst,NaN
714,IQVIA,Newcastle upon Tyne,Covid-19 Study Worker\nnew,NaN
715,Michael Page UK,Newcastle upon Tyne,Data Analyst\nnew,NaN

### Creating dataframe/write df to csv

In [ ]:
#first job only.
job_cards[0][0]

In [54]:
df2.to_csv('pathname.csv')